<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Username</th>
      <th scope="col">Avatar</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let person of people"
      (click)="getPerson(person.id)"
      style="cursor: pointer"
      data-bs-toggle="modal"
      data-bs-target="#ModalForm"
    >
      <th scope="row">{{ person.id }}</th>
      <td>{{ person.fname }} {{ person.lname }}</td>
      <td>{{ person.username }}</td>
      <td>
        <img [src]="person.avatar" style="width: 30px" />
      </td>
    </tr>
  </tbody>
</table>

<div class="text-center">
  <button
    type="button"
    class="btn btn-primary"
    (click)="clearForm(); setModalView(false)"
    data-bs-toggle="modal"
    data-bs-target="#ModalForm"
  >
    Show Form
  </button>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="ModalForm"
  tabindex="-1"
  aria-labelledby="ModalFormLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalFormLabel">
          {{ modalView ? "View" : "Create" }}
        </h5>

        <button
          #closeModal
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center">
        <img
          *ngIf="person.avatar"
          class="card-img-top"
          [src]="person.avatar"
          alt="Card image cap"
          style="width: 50px"
        />
        <form (ngSubmit)="createPerson(person)" ngNativeValidate>
          <div class="form-group">
            <label for="fname">First name</label>
            <input
              type="text"
              class="form-control"
              id="fname"
              [(ngModel)]="person.fname"
              name="fname"
              required
            />
          </div>
          <div class="form-group">
            <label for="lname">Last name</label>
            <input
              type="text"
              class="form-control"
              id="lname"
              [(ngModel)]="person.lname"
              name="lname"
              required
            />
          </div>
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              [(ngModel)]="person.username"
              name="username"
              required
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              [(ngModel)]="person.email"
              name="email"
              required
            />
          </div>
          <button *ngIf="!modalView" type="submit" class="btn btn-primary">
            Create
          </button>
        </form>
      </div>
      <div *ngIf="modalView" class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="updatePerson(person)"
        >
          Update
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="deletePerson(person.id)"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
